* {
    margin: 0;
    padding: 0;
    font-family: var(--bpgarial), sans-serif;
    text-decoration: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: var(--bpgarial), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 *
{
   font-family: var(--headingFont), sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #f2f2f2;
}

.logo {
    padding: 3px;
    display: block;
    margin-right: 15px;
}

.logo img {
    max-width: 70px;
    max-height: 70px;
}

.header-insider {
    display: flex;
    align-items: center;
    --height: 80px;
    min-height: var(--height);
    max-height: var(--height);
    max-width: 1200px;
    margin: auto;
}

.headerMenu {
    /* #7650ff */
}

.headerMenu a {
    color: #333;
    text-decoration: none;
    font-family: var(--headingFont), sans-serif;
    text-transform: Uppercase;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}

.headerMenu .active,
.headerMenu a:hover {
    color: #7650ff;
}

.hide {
    display: none !important;
}

.langTrigger {
    background: #f2f2f2;
    border-radius: 50%;
    padding: 3px;
    --langitemHeight: 40px;
    max-width: var(--langitemHeight);
    max-height: var(--langitemHeight);
}

.headerMenu a:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.9);
}

.langTrigger img,
.langitem img {
    max-width: 100%;
}

.langlist {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-height: 40px;
    background: #f2f2f2;
    border-radius: 50px;
    min-width: 80px;
    padding: 5px;
}

.langitem {
    background: #ddd;
    border-radius: 50%;
    padding: 1px;
    --langitemHeight: 30px;
    max-width: var(--langitemHeight);
    max-height: var(--langitemHeight);
}

.maindecor {
    --transparency: 0.3;
    background-image: linear-gradient(to bottom, rgba(118, 80, 255, var(--transparency)), rgba(118, 80, 255, var(--transparency))), url('../images/gtu2.jpg');
    background-position: center;
    background-size: cover;

    min-height: 480px;
    border-radius: 0px;
    margin: 0px;
}

.header-fixed {
    background: #fff;
    position: fixed !important;
}

.header-fixed .w-logo {
    display: none;
}

@media(min-width:1010px) {
    .header-notfixed {
        background: linear-gradient(rgba(118, 80, 255, 0.4) 70%, rgba(0, 0, 0, 0));
    }

    .header-notfixed .p-logo {
        display: none;
    }

    .header-notfixed .headerMenu a {
        color: #fff;
    }

    .header-notfixed .langTrigger {
        background: #f2f2f2;
        border-radius: 50%;
        padding: 1px;
        --langitemHeight: 35px;
        max-width: var(--langitemHeight);
        max-height: var(--langitemHeight);
    }

    .header-notfixed .langlist {
        margin-top: -2px;
    }

    .header-notfixed .dropdown-toggle::after {
        border-top: .3em solid #fff !important;
    }
}

main {
    margin-top: -50px;
    border-radius: 0px;
}

h1 {
    font-family: var(--headingFont), sans-serif;
    text-transform: Uppercase;
    font-size: 1.7rem;
    font-weight: var(--boldWeight);
    /* max-width: 80%; */
}

h5 {
    font-family: var(--headingFont), sans-serif;
    text-transform: Uppercase;
    font-size: 1.5rem;
    font-weight: var(--boldWeight);
}

.btn {
    border-radius: 20px;
    transition: 200 ease-in-out !important;
}

.btn-gtu {
    background: rgb(118, 80, 255);
    border-color: rgb(118, 80, 255);
    border-radius: 20px;
    color: #fff;
    transition: 200 ease-in-out;
}

.btn-gtu:hover {
    border-color: rgb(102, 70, 219);
    background: rgb(102, 70, 219);
    color: #fff;
}

.btn-gtu-green {
    background: rgb(0, 209, 63);
    border-color: rgb(0, 209, 63);
    border-radius: 20px;
    color: #fff;
    transition: 200 ease-in-out;
}

.btn-gtu-green:hover {
    border-color: rgb(0, 170, 51);
    background: rgb(0, 170, 51);
    color: #fff;
}

.btn-gtu-tomato {
    background: tomato;
    border-color: tomato;
    border-radius: 20px;
    color: #fff;
    transition: 200 ease-in-out;
}

.btn-gtu-tomato:hover {
    border-color: rgb(238, 89, 63);
    background: rgb(238, 89, 63);
    color: #fff;
}

.parent-gtu a,
.parent-gtu strong,
.parent-gtu b {
    color: #333;
}

.footer-logo {
    max-width: 90px;
    display: block;
}

.footer-logo img {
    max-width: 100%;
}

.infoItem {
    display: flex;
    align-items: center;
    color: #333 !important;
    text-decoration: none !important;
    width: fit-content;
}

.infoIcon {
    color: #fff;
    background: rgb(118, 80, 255);
    --infoiConBodySize: 35px;
    min-width: var(--infoiConBodySize);
    min-height: var(--infoiConBodySize);
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infotext {
    font-family: 'BPG Arial';
    padding: 10px;
}

.ifi-lineawesome {
    font-size: 22px;
    line-height: 1;
    margin-top: 2px;
    margin-left: 1px;
}

.p-9-15 {
    padding: 9px 15px;
}

.viewPage {
    max-height: 170px !important;
    min-height: 170px;
}

.listitemBoldtitle {
    font-family: 'BPG Arial Caps', 'Poppins';
    text-transform: uppercase;
    font-weight: var(--boldWeight);
}

.btn-icon {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    padding: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-icon i {
    font-size: 26px;
}

.itemMenu {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 1;
}

.dropdown-menu {
    padding: 4px;
}

.dropdown-item {
    padding: 5px 12px;
    border-radius: 4px;
}

/* auth style */
@media(min-width:490px) {
    .authSection {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: transparent;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .authBox {
        min-width: 480px;
        width: min-content;
        min-height: 300px;
        background: #fff;
        border-radius: 10px;
    }
}

@media(max-width:490px) {
    .authBox {
        min-height: 300px;
        background: #fff;
        border-radius: 10px;
        margin: 10px;
        padding-top: 1px;
    }
}

/* loader style */
.loaderContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    background: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
}

.gtu-loader {
    max-width: 120px;
}

.gtu-loader img {
    max-width: 100%;
}

#rotateGtu {
    transform: rotate(-80deg);
    animation: GtuTate 5s infinite alternate;
}

@keyframes GtuTate {
    50% {
        transform: rotate(80deg);
    }

    100% {
        transform: rotate(-80deg);
    }
}

.logoStu {
    margin-top: -120px;
    display: block;
}

.flagsContainer {
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    display: block;
    max-width: 100%;
    margin: 0 20px 60px 20px;
}

.flagsContainer::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(118, 80, 255, var(--transparency));
    z-index: 1;
}

.flagsContainer,
.flagsContainer img {
    max-height: 45px;
    max-width: 100%;
}


/* quotes style */
.fixedpage{
    background: #fff;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom: 0;
}

@media (min-width: 1380px) {
    .fixedpage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.quoteimageMain{
    max-width: 500px;
    margin: auto;
}

.quotetextContainer{
    max-width: 600px;
    margin: auto;
}

.fixedLangChanger{
    position: fixed;
    left: 20px;
    top: calc(50% - 80px);
}

.fixedLangChanger a{
    --samesize: 50px;
    min-width: var(--samesize);
    max-width: var(--samesize);
    min-height: var(--samesize);
    max-height: var(--samesize);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.quoteBox{
    font-size: 17px;
}

.leftDoubleComma{
    padding: 0px 5px 0px 8px;
    margin-left: -10px;
    display: inline-block;
    margin-left: -25px;
    margin-top: -4px;
    margin-bottom: 13px;
    position: absolute;
    border-radius: 0px 0px 0px 15px;
}

.rightDoubleComma{
    padding: 0px 8px 0px 5px;
    margin-left: -10px;
    display: inline-block;
    margin-right: -25px;
    margin-left: auto;
    margin-top: -2px;
    margin-bottom: 10px;
    position: absolute;
    border-radius: 0px 0px 14px 0px;
}

.textindentQuote{
    text-indent: 15px;
    text-align: justify;
}

h1 a{
    text-decoration: none;
    color: #333;
}

h1 a:hover{
    color: #333;
    text-decoration: underline;
}

/* directors grid */
.widerContainer{
    max-width: 900px;
    margin: auto;
}

.directors {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.directors2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.directors>*, .directors2>* {
    min-height: 200px;
}

.directors a, .directors2 a{
    font-family: var(--headingFont), sans-serif;
    text-transform: Uppercase;
    font-size: 18px;
    text-decoration: none;
}


/* movies style */
.movies {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.movies > * {
    min-height: 200px;
}

.movies a{
    font-family: var(--headingFont), sans-serif;
    text-transform: Uppercase;
    font-size: 18px;
    text-decoration: none;
}


.quotes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.quotes > * {
    min-height: 200px;
}

.quotes a{
    font-family: var(--headingFont), sans-serif;
    text-transform: Uppercase;
    font-size: 18px;
    text-decoration: none;
}

.p-normal {
    padding: 2rem !important;
}

.itemlist {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(386px, 1fr));
}

.itemlist>* {
    background-color: #fff;
    height: 100%;
}

.sidebar-logo a{
    min-height: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--headingFont);
    color: #333;
}

/* directors style */
.partners_filter label{
    font-family: 'BPG Arial Caps';
    font-size: 16px;
    text-align: center;
}

.partners_filter select{
    padding-left: 4px !important;
}

.partners_filter select,
.partners_filter option{
    font-family: 'BPG Arial Caps';
    font-size: 15px;
}

.minimisedSelect{
    max-width: 200px;
}

.fz-14{
    font-size: 14px;
}

.fz-24{
    font-size: 24px;
}

.fz-40{
    font-size: 40px;
}

.hoverupload{
    display: none;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.ratio:hover .hoverupload{
    display: flex;
    background: rgba(118, 80, 255, 0.8);
}

.ratio:hover .noimageText{
    display: none;
}

/* botom responses style */
.bottomResponses{
    background: #344767;
    border-radius: 4px;
    padding: 15px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    max-width: 400px;
    z-index: 99999999999999999;
}

.bottomResponses.success{
    background: #15ca20 !important;
    color: #fff;
}

.bottomResponses.success .warningiconn{
    display: none !important;
}

.bottomResponses.error{
    background: #fd3550 !important;
    color: #fff;
}

.bottomResponses.error .successicon{
    display: none !important;
}

.bottomresponseIcon{
    position: absolute;
    left: 15px;
}

.bottomresponseIcon i{
    font-size: 20px;
    display: inline-block;
}

.bottomResponseMessage{
    text-indent: 28px;
}

.spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.spin-fast {
    -webkit-animation: spin 1.3s linear infinite;
    animation: spin 1.3s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* button loader style */
.buttonloader{
    display: block;
    width: 100%;
}

.lineloader > div{
    background: rgb(4, 204, 4);
    min-height: 10px;
    display: block;
    animation: lineloader 2s infinite;
}

@keyframes lineloader {
    0%{
        width: 1%;
    }
    100%{
        width: 100%;
    }
}

/* animate images */
.directorimageAnimated {
    transition: transform .2s;
}

.directorimageAnimated:hover {
    rotate: 2deg;
    --sameScale: scale(1.1);
    -ms-transform: var(--sameScale);
    -webkit-transform: var(--sameScale);
    transform: var(--sameScale);

    position: relative;
    z-index: 3;
}

/* animate movie image */
.movieimageAnimated {
    transition: transform .2s;
}

.movieimageAnimated:hover {
    --sameScale: scale(1.05);
    -ms-transform: var(--sameScale);
    -webkit-transform: var(--sameScale);
    transform: var(--sameScale);
    position: relative;
    z-index: 3;
}



/* item progress */
.animateItemProgress{
    position: relative;
}

.animateItemProgress::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 8888888881;

    border-radius: var(--bs-border-radius-lg) !important;
    background: rgba(55, 74, 240, 0.3);
    animation: AnimateWith 2s infinite;
}

@keyframes AnimateWith{
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.smalltextAuthor, .smalltextAuthor *{
    font-family: 'BPG Arial' !important;
    font-size: 14px !important;
}

.fixthebuttonsBottom{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
}

.input-group2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.rounded-left-0 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.rounded-right-0 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.border-right-0 {
    border-right: none !important;
}

.textLowCase{
    font-family: var(--bpgarial), sans-serif !important;
    text-transform: capitalize !important;
}

.fz-14-important{
    font-size: 14px !important;
}

.fz-15{
    font-size: 15px;
}

.fz-15-5{
    font-size: 15.5px;
}
